<% share_url = @wrapped_user.wrapped_share_token.present? ? shared_wrapped_url(@wrapped_user.wrapped_share_token) : nil %>
<% display_name = @wrapped_user.display_name %>
<% content_for :title, "#{display_name}'s Wrapped" %>
<% content_for :og_title, "#{display_name}'s Summer of Making Wrapped" %>
<% content_for :og_description, "#{display_name} shipped projects, earned shells, and collected highlights in Summer of Making 2025." %>
<% content_for :og_image, asset_url("social_card.png") %>
<% content_for :og_url, share_url || request.original_url %>
<% content_for :twitter_title, "#{display_name}'s Summer of Making Wrapped" %>
<% content_for :twitter_description, "#{display_name} shipped projects, earned shells, and collected highlights in Summer of Making 2025." %>
<% content_for :twitter_image, asset_url("social_card.png") %>
<% order = @wrapped.most_expensive_order %>
<% item = @wrapped.most_expensive_item %>
<% project_time = @wrapped.project_with_most_time %>
<% project_ratio = @wrapped.project_with_highest_shells_per_hour %>
<% project_time_seconds = @wrapped.project_total_seconds(project_time) %>
<% project_ratio_hours = @wrapped.project_total_hours(project_ratio) %>
<% project_ratio_rate = @wrapped.project_shells_per_hour(project_ratio) %>

<% helper_slide = @wrapped.helper_slide? %>
<% helper_tickets_closed = helper_slide ? @wrapped.helper_tickets_closed : nil %>
<% votes_cast = @wrapped.votes_cast %>
<% helper_tickets_opened = helper_slide ? @wrapped.helper_tickets_opened : nil %>
<% shells_rank_data = @wrapped.shells_earned_rank %>
<% has_shells_rank = shells_rank_data.present? && shells_rank_data[:rank].to_i.positive? && shells_rank_data[:total].to_i.positive? %>
<% rank_value = has_shells_rank ? shells_rank_data[:rank].to_i : nil %>
<% total_ranked = has_shells_rank ? shells_rank_data[:total].to_i : nil %>
<% percentile = (total_ranked.to_i.positive? && rank_value) ? ((rank_value.to_f / total_ranked) * 100.0) : nil %>
<% devlogs_count = @wrapped.devlogs_count %>
<% devlog_projects_count = @wrapped.devlog_projects_count %>
<% top_devlog_projects = @wrapped.top_devlog_projects(4) %>
<% total_slides = 11 + (helper_slide ? 1 : 0) + (has_shells_rank ? 1 : 0) %>

<div class="h-full sm:min-h-[calc(100vh-8rem)] w-full flex flex-col items-center justify-center sm:py-10 sm:px-6">
  <%= render "wrapped/experience",
    share_url: share_url,
    display_name: display_name,
    total_slides: total_slides,
    wrapped: @wrapped,
    votes_cast: votes_cast,
    devlogs_count: devlogs_count,
    devlog_projects_count: devlog_projects_count,
    top_devlog_projects: top_devlog_projects,
    order: order,
    item: item,
    project_time: project_time,
    project_ratio: project_ratio,
    project_time_seconds: project_time_seconds,
    project_ratio_hours: project_ratio_hours,
    project_ratio_rate: project_ratio_rate,
    helper_slide: helper_slide,
    helper_tickets_closed: helper_tickets_closed,
    helper_tickets_opened: helper_tickets_opened,
    has_shells_rank: has_shells_rank,
    rank_value: rank_value,
    total_ranked: total_ranked,
    percentile: percentile %>
</div>
